In [4]:
name = "ada lovelace"
print(name.title())

Ada Lovelace

In [5]:
print(name.lower())

ada lovelace

In [6]:
print(name.upper())

ADA LOVELACE

In [14]:
name1 = "hamza"
name2 = "chohan"
print(f"hello {name1.upper()} {name2.upper()}")

hello HAMZA CHOHAN

In [25]:
print("languages:this is java script \n python \t cobal")

languages:this is java script
 python 	 cobal

In [32]:
name = "aqeel"
print( f"once upan a time \n there lived a king {name}.\t he is kind")

once upan a time
 here lived a king aqeel.	 he is kind

In [33]:
message = "One of Python's strengths is its diverse community." 
print(message)

One of Python's strengths is its diverse community.

In [38]:
name = ' Aqeel '
name.lstrip() # this is to remove left space before name

'Aqeel '

In [39]:
print(5+4)

9

In [40]:
print(0.2*0.4) # this is python

0.08000000000000002

In [41]:
print(2**3)

8

In [42]:
print(2*0.3)

0.6

In [43]:
print(10%3) # this will give reminder

1

In [44]:
nuts =["almond","pisatsu","peanut"]

In [47]:
nuts.index("peanut")

2

In [48]:
print(nuts[-1])

peanut

In [49]:
print([0:2])

SyntaxError: invalid syntax (<ipython-input-49-2bcb13bc1098>, line 1)

 nuts

In [50]:
nuts

['almond', 'pisatsu', 'peanut']

In [51]:
nuts[0] ="kaju"

In [52]:
nuts

['kaju', 'pisatsu', 'peanut']

In [55]:
guest = ["anees","aqeel","owais"]
for name in guest:
    
    print(f" dear {name} you are invited to the weekend party")

 dear anees you are invited to the weekend party
 dear aqeel you are invited to the weekend party
 dear owais you are invited to the weekend party

In [58]:
bikes=[]
for bike in  range(1,9,2):
    bikes.append(bike)
print(bikes)

[1, 3, 5, 7]

In [61]:
numbers=[]
for number in range(0,101,10):
    numbers.append(number)
print(numbers)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
alphabets=[]
for alpha in range(100,1001,50):
    alphabets.append(alpha)
print(alphabets)

[100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000]

In [4]:
min(alphabets)

100

In [5]:
max(alphabets)

1000

In [6]:
sum(alphabets)

10450

In [13]:
a,b,c,x,y,z = 100,200,30,40,50,60,

In [15]:
score =[a,b,c,x,y,z]

In [16]:
score

[100, 200, 30, 40, 50, 60]

score.sort()

In [17]:
score

[100, 200, 30, 40, 50, 60]

In [18]:
print(score[1:3])

[200, 30]

In [19]:
print(score[:5])

[100, 200, 30, 40, 50]

In [21]:
print(score[4:])

[50, 60]